<html>
  <head> 
  </head>
  <body>
    <h1>
      Esta va a ser la portada:
      
      <% test.forEach( (e) => { %>
        <li><a href="/<%= e %>"><%= e %></a></li>
      <% }) %>
    </h1>
  </body>  
</html>
