body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(backgorund.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  padding-top: 3rem;
  box-sizing: border-box;
}

header {
  position: fixed;
  background: #000a;
  height: 3rem;
  left: 0;
  top: 0;
  width: 100vw;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 2px 0px #000a;
}
header a {
  margin: 0 .5rem;
  color: white;
  text-decoration: none;
}

header.verde {
  background: #008000;
}
header.rojo {
  background: #ff0000;
}
.prueba {
  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
}

body>ul {
  background: #fffa;
  max-width: 500px;
  margin: 3rem auto;
  padding: 1rem 2rem;
  box-sizing: border-box;
  list-style: none;
  box-shadow: 0 0 2px 0px #0001;
}

body>ul>li>a {
  text-decoration: none;
  color: #666;
  font-family: monospace;
  font-size: 1.2rem;
}
body>ul>li>a:hover {
  color: black;
}
body>header+ul {
  margin-top: 3rem;
}

h3 {
  color: white;
  text-align: center;
  background: #0005;
  padding: .5rem 2rem;
  margin: 0;
}

section {
  background: #fffa;
  max-width: 500px;
  margin: 3rem auto;
  box-sizing: border-box;
  list-style: none;
  box-shadow: 0 0 2px 0px #0001;
}
section.verde {
  box-shadow: 0 0 2px 1px #080;
}
section.rojo {
  box-shadow: 0 0 2px 1px #f00;
}
section>div {
  display: flex;
  justify-content: space-around;
  justify-content: space-evenly;
  border-bottom: 1px solid #0001;
  margin: 0 2rem;
}
section>ul {
  margin: 2rem;
  display: inline-block;
  list-style: none;
  padding-left: 0;
}
li.verde::before {
  color: green;
  content: "✔";
}
li.verde,
li.rojo {
  color: initial;
}
li {
  margin-bottom: 1rem;
}

li.rojo::before {
  color: red;
  content: "✗";
}
i.verde, h3.verde {
  color: green;
}
i.rojo, h3.rojo{
  color: red;
}
code {
  white-space: pre-wrap;
  color: initial !important;
}
