<%- include('header') %>

<header>
  <span>
      PostMoon - Test your test
  </span>
</header>

<ul class="testLists">
  <% test.forEach( (e) => { %>
    <li>
      <a href="/test/<%= e %>">
        <%= e %>
      </a>
  </li>
  <% }) %>
</ul>

<%- include('footer') %>
