<html>
  <head>
      <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>
      PostMoon
    </h1>

      <% test.forEach( (e) => { %>
        <li>
          <a href="/test/<%= e %>">
            <%= e %>
          </a>
      </li>
      <% }) %>
    </h1>
  </body>
</html>
